* {
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: 20px auto;
  padding: 15px;
  background-color: lightgray;
}

nav {
  background-color: dodgerblue;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav ul li {
  background-color: lightgray;
  margin: 10px;
}

nav.right ul {
  margin-left: auto;
}

nav.left ul {
  margin-right: auto;
}

nav a:link,
nav a:visited {
  color: dodgerblue;
  padding: 7px 10px;
  font-size: 20px;
  display: block;
  text-decoration: none;
}

nav ul li a:hover,
nav a:focus {
  color: black;
}
