* {
    box-sizing: border-box;
}

header {
    background-color: powderblue;
}

h1 {
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid black;
    margin: 0px;
    padding-bottom: 8px;

}


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 8px;
    ;
}

nav a {
    border: 1px solid black;
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 100px;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-decoration: none;
}


body {
    background-color: lightslategray;
    margin: 0;
    border-left: 6px solid blue;
    border-right: 6px solid blue;
    min-height: 100vh;
}

@media (max-width: 575px) {

    h1 {
        justify-content: center;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        flex: 1;
        width: 50px;
        margin: 4px 0;
    }
}